<routes>
  <root> server#version </root>
  <get path="_uuids"> <to> server#uuids </to> </get>
  <get path="_session"> <to> server#session </to> </get>
  <get path="_all_dbs"> <to> database#list </to> </get>
  <get path="_changes"> <to> database#changes </to> </get>
  <get path="_config/query_servers"> <to> server#query_servers </to> </get>
  <get path="_config/native_query_servers"> 
    <to> server#native_query_servers </to> </get>
  <resource name=":database">
    <member action="_all_docs"/>
    <resource name=":document"/>
  </resource>
</routes>